<div class="container">
  <div class="down row mt-5">
    <div class="dropdown">
      <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        月份
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">1</a>
        <a class="dropdown-item" href="#">2</a>
        <a class="dropdown-item" href="#">3</a>
        <a class="dropdown-item" href="#">4</a>
        <a class="dropdown-item" href="#">5</a>
        <a class="dropdown-item" href="#">6</a>
        <a class="dropdown-item" href="#">7</a>
        <a class="dropdown-item" href="#">8</a>
        <a class="dropdown-item" href="#">9</a>
        <a class="dropdown-item" href="#">10</a>
        <a class="dropdown-item" href="#">11</a>
        <a class="dropdown-item" href="#">12</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        類別
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">家居物業</a>
        <a class="dropdown-item" href="#">交通出行</a>
        <a class="dropdown-item" href="#">休閒娛樂</a>
        <a class="dropdown-item" href="#">餐飲食品</a>
        <a class="dropdown-item" href="#">其他</a>
      </div>
    </div>
  </div>

  <div class="total row mt-5">
    <h4>總金額:</h4>
    <p class="amount">99999</p>
  </div>

  <div class="card-row mt-3">
    <div class="row">
      <div class="awesome mt-3">
        <i class="fas fa-utensils"></i>
      </div>

      <div class="category card-body">
        <h4>午餐</h4>
        <p class="date">2019/4/23</p>
      </div>

      <div class="card-body mt-2">
        <p class="money">60</p>
      </div>

      <div class="edit card-end mt-4">
        <a href="" class="btn btn-success">修改</a>
      </div>

      <form action="/record/:id" method="POST">
        <div class="delete card-end mt-4">
          <a href="" class="btn btn-info">刪除</a>
        </div>
      </form>
    </div>
  </div>

  <a href="/record/new" class="create btn btn-danger mt-5 mb-5">新增支出</a>
</div>